@use "../../../../assets/mixin.scss" as m;
@use "../../../../assets/variables.scss" as v;

.cta-clean {
  width: 100%;
  text-align: center;
  background: transparent;
  border-radius: 20px;
  color: #1a1a1a;

  .cta-clean__inner {
    max-width: 800px;
    margin: 0 auto;

    h3 {
      line-height: 1.6;
      color: #333;
    }

    p {
      margin-bottom: 2rem;
    }

    .cta-light__btn {
      @include m.button-styles;
    }
  }
}

/* Адаптив */
// @media (max-width: 768px) {
//   .cta-clean {
//     // padding: 3rem 1rem;

//     &__inner {
//       h3 {
//         font-size: 1.1rem;
//       }
//       p {
//         font-size: 1rem;
//       }
//     }
//   }
// }

/* Адаптив */
@media (max-width: 768px) {
  .cta-clean {
    width: 100%;
    padding: 0 2rem;
    text-align: center;
    background: transparent;
    border-radius: 20px;
    color: #1a1a1a;

    &__inner {
      max-width: 800px;
      margin: 0 auto;

      p {
        // font-size: v.$font-size-mini-3;
        // font-weight: 700;
        line-height: 1.6;
        margin-bottom: 1.2rem;
        color: #333;
      }

      p {
        // font-size: v.$font-size-mini-1;
        margin-bottom: 0;
        color: #555;
        line-height: 1.5;
      }
    }

    &__btn {
      @include m.button-styles;
    }
  }
}
