@import "../../assets/variables.scss";

.dropdown {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: none;
  z-index: 1;
  border-radius: 10px;
  font-size: $p-text;
  font-weight: 800;
  width: auto;

  @media (max-width: 1280px) and (orientation: landscape) {
    padding-block: 2em !important;
  }

  .dropdown__item {
    position: relative;
    @media (orientation: landscape) {
      padding-block: 0.6em;
    }
    @media (max-width: 1280px) {
      padding-block: 1.2em;
    }
    .dropdown__item-link {
      display: block;
      padding: 12px 16px;
      text-decoration: none;
      text-wrap: nowrap;
      font-size: $p-fz;
      font-weight: 400;
      line-height: 1;
      letter-spacing: 1.8px;
      color: $white;

      @media (max-width: 1280px) and (orientation: landscape) {
        padding: 0.15em 2em;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 10px;
        color: $activeStateColor;
      }

      &.active {
        color: $activeStateColor;
      }
    }
  }
}

@media (max-width: 1023px) {
  .dropdown {
    background-color: rgba(0, 0, 0, 1);
    border: 0.5px solid #fff;
  }
}

/* Показ меню при наведении */
.header__nav-item:hover .dropdown {
  display: block;
}

.dropdown__item-link {
  text-wrap: nowrap;
}
