@use "../../assets/variables.scss" as v;

.header {
  position: relative;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(0, 0, 0, 0.7) 30%,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.3) 65%,
      rgba(255, 255, 255, 0) 70%,
      rgba(255, 255, 255, 0.3) 80%,
      rgba(255, 255, 255, 0.4) 90%,
      rgba(255, 255, 255, 0.6) 95%,
      rgba(245, 245, 245, 1) 100%
    ),
    url(../../assets/images/backgrounds/Loft-chair-and-table.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 83vh;
  width: auto;
  background-color: #000000;

  @media (max-width: 1368px) {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.4) 40%,
        rgba(255, 255, 255, 0) 70%,
        rgba(255, 255, 255, 0.3) 80%,
        rgba(255, 255, 255, 0.4) 90%,
        rgba(255, 255, 255, 0.6) 95%,
        rgba(245, 245, 245, 1) 100%
      ),
      url(../../assets/images/backgrounds/Loft-chair-and-table-mini.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-color: v.$background-color;
  }

  &__title {
    position: absolute;
    top: 28%;
    left: 8%;
    width: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 2rem;
    }

    @media (orientation: portrait) and (max-width: 768px) {
      top: 20%;
      transform: translateY(-20%);
    }
  }

  &__main-title {
    color: v.$white;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: v.$font-size-h3;
    font-weight: 900;
    line-height: 1.4;
    margin: 0;
    text-shadow: 1px 1px 5px rgb(0, 0, 0);

    .no-transform {
      text-transform: none; // Отключает uppercase для "və"
      font-size: v.$font-size-mini-1;
      font-weight: 100;
      letter-spacing: 1px;
    }
  }

  &__subtitle-clip {
    background-color: v.$activeStateColor;
    padding: 0.4rem 3rem 0.4rem 2rem;
    word-spacing: 5px;
    clip-path: polygon(0 0, 100% 0, 94% 100%, 0% 100%);
    display: inline-block;
    margin-left: auto;

    @media (max-width: 768px) {
      clip-path: polygon(0 0, 100% 0, 94% 100%, 0% 100%);
      margin: 0;
    }
  }

  &__subtitle {
    color: white;
    font-size: v.$font-size-mini-2;
    font-weight: 400;
    margin: 0;
    white-space: nowrap;
  }
}

.header__button-wrapper {
  position: absolute;
  font-size: v.$font-size-mini-3;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);

  .reusable-button {
    background-color: v.$activeStateColor;
    color: #fff;
    white-space: nowrap;
    padding: 0.4rem 3rem 0.4rem 2rem;
    letter-spacing: 0.15em;
    &:hover {
      background-color: v.$hoverStateColor;
    }
  }
}
