@use "../../../assets/mixin.scss" as m;
@use "../../../assets/variables.scss" as v;

.aboutus-cta {
  display: flex;
  flex-direction: column;
  gap: 0.1rem; // расстояние между текстом и слайдером
  margin-bottom: calc(2vw + 1rem); // отступ снизу для секции
  .aboutus-slider {
    border-radius: 12px;
    overflow: hidden;
      width: 100%;
  height: 100%;
  object-fit: cover; // равномерное заполнение без скачков
  display: block; // убирает лишние пробелы
  transform: translateZ(0); // включает GPU-рендеринг
  backface-visibility: hidden; // уменьшает артефакты

    &__overlay {
      position: relative;
      z-index: 2;
      text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(
        -50%,
        50%
      ); // кнопка по центру и по горизонтали и вертикали
    }
  }

  .cta-clean {
    width: 100%;
    padding: 2rem 2rem;
    text-align: center;
    background: transparent;
    border-radius: 20px;
    color: #1a1a1a;

    &__inner {
      max-width: 800px;
      margin: 0 auto;

      h3 {
        font-size: v.$font-size-mini-3;
        font-weight: 700;
        line-height: 1.6;
        margin-bottom: 1.2rem;
        color: #333;
      }

      p {
        font-size: v.$font-size-mini-1;
        margin-bottom: 0;
        color: #555;
        line-height: 1.5;
      }
    }

    &__btn {
      @include m.button-styles;
    }
  }
}

/* Адаптив */
@media (max-width: 768px) {
  .cta-clean {
    padding: 3rem 1rem;

    &__inner {
      h3 {
        font-size: 1.1rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }

  .aboutus-slider {
    &__overlay {
      .cta-clean__btn {
        padding: 0.8rem 2rem;
        font-size: 1rem;
      }
    }
  }
}
