// Что бы правильно подключить шрифт,следует создать один блок правил для шрифтов (как выше) и указать им путь к файлам шрифта.  А в .scss  компоненте просто прописать название шривта (например -

@font-face {
  font-family: "samsungsharpsans";
  src: url("../font/SamsungSharp/samsungsharpsans.otf") format("truetype");
}

@font-face {
  font-family: "samsungsharpsans-bold";
  src: url("../font/SamsungSharp/samsungsharpsans-bold.otf") format("truetype");
}
@font-face {
  font-family: "samsungsharpsans-medium";
  src: url("../font/SamsungSharp/samsungsharpsans-bold.otf") format("truetype");
}

// hero-banner__title
@font-face {
  font-family: "UniversUnicode_Bold";
  src: url("../font/UniversUnicode_Bold/UniversUnicode_Bold.otf") format("truetype");
}
