@import "../assets/variables.scss";

html,
body,
#root {
  height: 100%;
  min-height: 100%;
  background-color: #f5f5f5;
  color: $darkGray;
  font-size: clamp(16px, 1vw, 20px);
  margin: 0;
  padding: 0;
  font-family: samsungsharpsans;
  font-weight: 400;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

@media (pointer: coarse) {
  body {
    -webkit-touch-callout: none; /* Отключает вызов контекстного меню */
    -webkit-user-select: none; /* Запрещает выделение текста */
    user-select: none; /* Для всех браузеров */
    touch-action: manipulation; /* Отключает ненужные жесты */
  }
}

@supports (-webkit-touch-callout: none) {
  html,
  body,
  #root {
    height: -webkit-fill-available;
  }
}
