// Переменные шрифтов   =========

// Шрифт для титульного названия ====

$font-size-h1: calc(2.2vw + 1.8rem);
$font-size-h2: calc(2vw + 1.6rem);
$font-size-h3: calc(1.6vw + 1rem);
$font-size-h4: calc(1.4vw + 1rem);
$font-size-h5: calc(1.2vw + 1rem);
$font-size-h6: calc(1vw + 0.8rem);
//--------------------------------------
$font-size-mini-1: calc(0.5vw + 1rem);
$font-size-mini-2: calc(0.4vw + 1rem);
$font-size-mini-3: calc(0.3vw + 1rem);
$font-size-mini-4: calc(0.2vw + 1rem);
$font-size-mini-5: calc(0.1vw + 1rem);

// ====================================

// Переменные цветов =========

$swampColor: rgb(1, 161, 217);
$background-color: rgb(245, 245, 245);
$hoverStateColor: rgb(202, 81, 0);
$activeStateColor: rgb(255, 102, 0);
$lightНellow: rgb(255, 129, 46);
$white: #fff;
$black: #000;
$darkGray: #333;
