// .bg-slider {
//   position: relative;
//   width: 100%;
//   overflow: hidden;

//   .bg-slide {
//     position: absolute;
//     inset: 0;
//     background-size: cover;
//     background-position: center;
//     opacity: 0;
//   }

//   .bg-slide.active {
//     opacity: 1;
//   }

//   &__overlay {
//     position: relative;
//     z-index: 2;
//     color: #fff;
//     text-align: center;
//     top: 50%;
//     transform: translateY(-50%);
//     text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
//   }
// }



.bg-slider {
  position: relative;
  overflow: hidden;

  .bg-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0;
  }

  .bg-slide.active {
    opacity: 1;
  }

  &__overlay {
    position: relative;
    z-index: 2;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    padding: 1rem;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  }
}